body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #444;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #444;
    text-decoration: none;
}
header nav ul li a {
    color: #a29292;
}
header h1{
    color: #dccfcf;
}

section.about {
    margin: 20px;
}
.about h2 {
    text-transform: uppercase;
    text-decoration: darkslateblue;
    color: #0f2edf79;
}
.about h1 {
    text-transform: uppercase;
    text-decoration: darkslateblue;
    color: #0de3347c;
}
.about h3 {
    text-decoration: darkslateblue;
    color: #9617d66d;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}