body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #444;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    text-justify: distribute;
}

header li a:hover {
    background-color: #070bea;
    color: #0be059;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: underline;
    text-underline-position: below;
    transition-duration: .5s;
    transform-origin: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #444;
    text-decoration: none;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    box-sizing: border-box;
    background-image: -moz-repeating-linear-gradient(border-radius);
}

.service {
    border: 25px solid #dddee994;
    border-radius: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.service img {
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 100px;
    border: 25px solid #1a1b1e94;
}

.service h2 {
    margin-top: 10px;
}