   form{
    background: #1b251cd4;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 92%;
    max-width: 100%;
    border-radius: 15%;
}
form h2{
    color: #f1f2f6;
    font-weight: 1000;
    margin-bottom: 20px;
    margin-left: 40%;
    text-shadow: #fd0505e3;
}
form input, form textarea{
    border: 0;
    margin: 2% 0;
    padding: 2%;
    outline: none;
    background: #c3c6cdce;
    font-size: 110%;
    border-radius: 25%;
    justify-content: last baseline;
}
form button{
    padding: 15px;
    background: #ff5361;
    color: #f7f3f3;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
form button:hover{
    background-color: #f4081b;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .9s;
}

.social-icons {
    margin-left: 30%;
    margin-right: 30%;
    background: #171920a4;
    background-color: #191a29db;
    border-radius: 6%;
    padding: 0 10px;
    padding-bottom: 20px;
    box-shadow: #fafafcf8;
}

.social-icons h2 {
    padding: 0 5px;
    margin-left: 15%;
    margin-right: 50%;
    background: #5f5d86aa;
    background-color: #5c6781a2;
    border-radius: 20%;
    box-shadow: #f9f9f8e9;
    border: #c8d6cc;
    text-decoration: solid;
    text-shadow: #fff;
    text-transform: uppercase;
}

.social-icons a {
    margin: 0 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    background: #585b64c6;
    background-color: #7a7d93ec;
    border-radius: 12%;
    box-shadow: #f1890897;
    border: #26274fe0;
    text-decoration: solid;
    text-shadow: #f2f6f2;
}

.social-icons img {
    max-width: 50px; 
    height: auto;
    margin-left: 7px;
}

.social-icons img:hover {
    background-color: #565fa4dc;
    box-shadow: #373b5ab0;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: overline;
    text-underline-position: above;
    transition-duration: .5s;
    transform-origin: right;
    border-radius: 6%;
}

.video-container{
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    margin-left: 30px;
    border-radius: 100px;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: #1734a9b4;
    border-radius: 100px;
    margin-left: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(38, 69, 140, 0.477);
    background: rgba(73, 78, 92, 0.477);
    box-shadow: #4344adb6;
    background-image: url(p\ \(4\).jpeg);
    background-size: cover;
    background-image: quality(high);
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
    display: none;
}

.footer {
    background-color: #333;
    color: #f4f5f6c2;
    padding: 0.5px;
    text-align: center;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
    height: 5%;
    margin-right: 3000px;
}

.menu {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

.menu a {
    color: #ffffffac;
    text-decoration: none;
    margin: 0 10px;
}

body a:hover {
    background-color: #2f3336cf;
    color: #1b1ec9c3;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: unset;
    text-underline-position: above;
    transition-duration: .5s;
    transform-origin: right;
    border-radius: 6%;
}

.logo-container {
    max-width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    float: left;
}

.logo {
    max-width: 100%;
    height: 100%;
    border-radius: 100px;
    border-color: #2c13bc97;
}